Django>=1.11,<2
django_compressor
django-mptt
django-pagedown
django-registration-redux
django-reversion
django-social-share
django-impersonate
django_select2<7
django-rosetta
django-recaptcha2
django-anymail
-e git+https://github.com/DMOJ/dmoj-wpadmin.git#egg=dmoj-wpadmin
lxml
Pygments
mistune
social-auth-app-django
pytz
django-statici18n
pika
ua-parser
pyyaml
jinja2
django_jinja
llist
requests
django-fernet-fields
pyotp
qrcode[pil]
jsonfield
pymoss
packaging
celery
mysqlclient
django_select2<7
websocket-client
unicodecsv
django-rosetta
django-recaptcha2
django-anymail
libsass
