{% extends "base.html" %}

{% block media %}
    <style>
        #login-panel {
            position: relative;
            margin: 5em auto auto -10em;
            top: 40%;
            left: 50%;
        }

        h4 {
            padding-top: 1em;
        }

        .social {
            display: inline;
            font-size: 2.3em;
            float: none;
        }

        .google-icon i {
            color: #DD4B38;
        }

        .facebook-icon i {
            color: #133783;
        }

        .github-icon i {
            color: black;
        }

        .dropbox-icon i {
            color: #55ACEE;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="login-panel">
        <form action="" method="post" class="form-area">
            {% csrf_token %}
            {% if form.errors %}
                <div id="form-errors">
                    <p class="error">Yanlış e-mail ya da şifre.</p>
                </div>
            {% endif %}
            <table border="0" style="text-align:left">
                <tr>
                    <th><i class="fa fa-user fa-fw"></i>
                    </th>
                    <td>
                    <input type="text" name="username" autofocus="" required="" placeholder="E-mail" id="id_username" maxlength="254">
                    </td>
                </tr>
                <tr>
                    <th><i class="fa fa-key fa-fw"></i>
                    </th>
                    <td><input type="password" name="password" required="" placeholder="Şifre" id="id_password">
                    </td>
                </tr>
            </table>
            <hr>
            <button style="float:right;" type="submit">Giriş</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
{% endblock %}
