{% extends "base.html" %}

{% block header %}
    <span class="submission-info">
        <span class="submission-date">
                {{ submission.date|date(_("j/n/Y, G:i:s")) }}
                {%- if perms.judge.change_submission and submission.judged_on %}
                on {{ submission.judged_on.name }}{% endif %}<br>
            <span>Dil: {{ submission.language }}</span>
            {% if perms.judge.change_submission %}
                [<a href="{{ url('admin:judge_submission_change', submission.id) }}">{{ _('Admin') }}</a>]
            {% endif %}
        </span>
    </span>
{% endblock %}
