{% extends "tabs-base.html" %}

{% block tabs %}
    {{ make_tab('detail', 'fa-info-circle', url('contest_view'), "Bilgi") }}

    {% if contest.start_time <= now or perms.judge.see_private_contest %}
        {% if contest.show_scoreboard or perms.judge.see_private_contest or in_contest %}
            {{ make_tab('ranking', 'fa-bar-chart', url('contest_ranking'), "Sıralama") }}
        {% else %}
            {{ make_tab('ranking', 'fa-bar-chart', None, _('Hidden Rankings')) }}
        {% endif %}
    {% endif %}
    {% if perms.judge.change_contest %}
        {{ make_tab('edit', 'fa-edit', url('admin:judge_contest_change', contest.id), "adminle") }}
    {% endif %}

    {% if request.user.is_authenticated %}
        {% if contest.can_join or participating or is_organizer %}
            {% if not in_contest %}
                <a href="{{ url('contest_join') }}"
                     class="contest-join-pseudotab unselectable button full first-join">Başla</a>
            {% endif %}
        {% endif %}
    {% elif contest.can_join %}
        <a href="{{ url('auth_login') }}?next={{ LOGIN_RETURN_PATH|urlencode }}"
           class="contest-join-pseudotab unselectable button full">ustden log in olunuz</a>
    {% endif %}
{% endblock %}
