{% extends "tabs-base.html" %}

{% block tabs %}
    {{ make_tab('detail', 'fa-info-circle', url('contest_view'), _('Info')) }}

    {% if contest.start_time <= now or perms.judge.see_private_contest %}
        {% if contest.show_scoreboard or contest.can_see_scoreboard(request) %}
            {{ make_tab('ranking', 'fa-bar-chart', url('contest_ranking'), _('Scoreboard')) }}
        {% else %}
            {{ make_tab('ranking', 'fa-bar-chart', None, _('Hidden Rankings')) }}
        {% endif %}
    {% endif %}
    {% if perms.judge.change_contest or is_organizer %}
        {{ make_tab('edit', 'fa-edit', url('admin:judge_contest_change', contest.id), _('Edit')) }}
    {% endif %}
{% endblock %}
