{% extends "common-content.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'detail' %}
    {% set title = contest.name %}
    {% include "contest/contest-tabs.html" %}
{% endblock %}

{% block content_js_media %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });
        });
    </script>
    {% include "contest/media-js.html" %}
{% endblock %}

{% block body %}
    <div id="banner" style="padding-top: 24px!important; border: none!important;">
        <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ contest.name|urlquote('') }}&amp;iso=
                {{- contest.start_time|utc|date('Y-m-d\TH:i:s') }}" class="date">
                {% if contest.start_time > now %}
                    {{- _("Yarışmanın başlamasına %(countdown)s kaldı.", countdown=contest.time_before_start|as_countdown) -}}
                {% elif contest.end_time < now %}
                    {{- _('Yarışma bitti.') -}}
                {% else %}
                    {{ _('Kalan süre: %(countdown)s.', countdown=contest.time_before_end|as_countdown) }}
                {% endif %}
        </a>
    </div>
    <!-- cache -->
    <div class="content-description" style="margin-bottom: 24px;">
        {% cache 3600 'contest_html' contest.id MATH_ENGINE contest.description %}
            {{ contest.description|markdown('contest', MATH_ENGINE)|reference|str|safe }}
        {% endcache %}
    </div>

    {% if in_contest or request.user.is_superuser %}
        <div class="contest-problems">
            <h2 style="margin-bottom: 16px;">Sorular</h2>
            <table id="contest-problems" class="table">
                <thead>
                <tr>
                    <th>Soru</th>
                    <th>Puan</th>
                    <th>AC Oranı</th>
                    <th>Deneyenler</th>
                </tr>
                </thead>
                <tbody>
                {% for problem in contest_problems %}
                    <tr>
                        <td><a href="{{ url('problem_detail', problem.problem.code) }}">{{ problem.problem.name }}</a></td>
                        <td>{{ problem.points|floatformat }}</td>
                        <td>{{ problem.problem.ac_rate|floatformat(1) }}%</td>
                        <td>{{ problem.problem.user_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}

{% block description_end %}{% endblock %}

{% block bodyend %}
    {{ super() }}
{% endblock %}
