{% extends "user/base-users-table.html" %}

{% block user_data %}
    {% if not contest.ended %}
        {% if user.participation and not user.participation.ended %}
            <div class="start-time active">
                {{ relative_time(user.participation.start, abs=_('Started on {time}'), rel=_('Started {time}')) }}
            </div>
        {% else %}
            <div class="start-time">{{ _('Participation ended.') }}</div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block before_point_head %}
    {% for problem in problems %}
        <th class="points header">
            <a href="{{ url('problem_detail', problem.problem.code) }}">
                {{ chr(loop.index + 64) }}
            </a>
            {# !TODO <div class="point-denominator">{{ problem.points }}</div> #}
        </th>
    {% endfor %}
{% endblock %}

{% block before_point %}
    {% for cell in user.problem_cells %}
        {{ cell }}
    {% endfor %}
{% endblock %}

{% block point %}
    {{ user.result_cell }}
{% endblock %}
