@charset "UTF-8";

@import "vars";

@-ms-viewport {
    min-width: 480px;
    max-width: device-width;
}

@-o-viewport {
    min-width: 480px;
    max-width: device-width;
}

@viewport {
    min-width: 480px;
    max-width: device-width;
}

a {
    color: #555;

    &:hover {
        color: $widget_bg;
    }

    &:active {
        color: #604e8b;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

.full {
    width: 100%;
}

table.sortable thead {
    background-color: $background_gray;
    color: #666;
    font-weight: bold;
    cursor: default;
}

th {
    &.tablesorter-headerAsc:after {
        content: " ▴";
    }

    &.tablesorter-headerDesc:after {
        content: " ▾";
    }
}

div {
    &.tablesorter-header-inner {
        display: inline;
    }
}

pre {
    white-space: pre-wrap;
}

hr {
    display: block;
    height: 0;
    border: 0;
    font-style: italic;
    border-bottom: 1px solid $border_gray;
    padding: 0;
}

.dashed {
    border-bottom: 1px dashed $border_gray;
}

th {
    vertical-align: middle;
}

.form-area {
    display: inline-block;
    background: $background_light_gray;
    padding: 5px 10px 10px 15px;
    border-radius: $widget_border_radius;
    border: 1px solid $border_gray;
}

div.info-float {
    float: right;
    padding: 10px;
}

footer {
    color: gray;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    max-width: 107em;
    font-size: $base_font_size;
    line-height: 1.231;
    background: $background_light_gray;
    font-family: "Segoe UI", "Lucida Grande", Arial, sans-serif;
    color: #000;
    height: 100%;
}

.unselectable {
    cursor: default;
}

h1 {
    font-size: 5em;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

b {
    font-weight: bold;
}

h2 {
    font-weight: 400;
    font-size: 2em;
    border-radius: $widget_border_radius;
    padding: 0;
    margin: 0;
}

h3 {
    font-weight: 400;
    font-size: 1.4em;
    border-radius: $widget_border_radius;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

header {
    background: #111;
    color: #aaa;
    text-align: left;
    display: block;
    height: 60px;
    margin-top: -10px;
    padding: 10px 10px 10px 5%;
}

#user-links {
    top: 0;
    right: $nav_gutter;
    position: absolute;
    color: $nav_link_hover_color;
    line-height: $nav_height;
    height: $nav_height;
    
    .avatar-img {
        float: left;
        margin: $nav_avatar_margin;
        height: $nav_height - 2*$nav_avatar_margin;
    }
    .hello {
        float: left;
        display: inline-block;
    }

    a {
        display: block;
        color: $nav_link_color;
        height: $nav_height;

        &:hover {
                color: $nav_link_hover_color;
        }

        &:active {
                color: $nav_link_active_color;
        }
    }

    .anon a {
        display: inline;
    }

    .user-drop {
        display: none;
        background: $widget_bg;
        margin: 0 (-$nav_gutter) 0 0;
        padding: 0;
        li {
            margin: 0 $nav_gutter;
            display: block;
        }
    }

    &:hover .user-drop {
        display: block;
    }
}

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    position: relative;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    text-align: left;
    height: $nav_height;

    #nav-container {
        background: $widget_bg;
        padding: 0 $nav_gutter 0 $nav_gutter;
        height: 100%;
    }

    #nav-list {
        margin: 0; padding: 0;
        text-align: left;
        display: block;
        height: $nav_height;
        list-style: none;
        background: transparent;

        * {
            vertical-align: bottom;
            display: inline-block;
            line-height: $nav_height;
        }    

        .logo-img {
            margin: $nav_logo_margin;
            height: $nav_height - 2*$nav_logo_margin;
        }
        .logo-text {
            margin-left: 4px;
            font-weight: 700;
        }

        li {
            color: $nav_link_color;
            position: relative;

            &.home-nav-element a {
                padding: 0;
                height: $nav_height;

                &:hover {
                    border-bottom: none;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            a, button {
                text-decoration: none;
                color: $nav_link_color;
                padding: 0px $nav_gutter + $nav_logo_margin;
                height: $nav_height;

                &:link {
                    color: $nav_link_color;
                }

                &:hover {
                    color: $nav_link_active_color;
                }

                &.active {
                    color: $nav_link_hover_color;
                    background: $highlight_blue;
                }

                .nav-expand {
                    display: none;
                }
            }
        }
    }

    .nav-divider {
        width: 0px;
        height: $nav_height - 2*$nav_logo_margin;
        margin: 0 4px;
        border-right: 1px solid $nav_divider_color;
        vertical-align: middle !important;
    }
}

hr {
    color: rgba(0, 0, 0, 0.2);
}

#content {
    margin: 52px auto auto;

    // Header
    width: 90%;
    height: 100%;
    min-height: 25em;
    display: block;

    .title {
        color: #393630;
    }
}

footer {
    text-align: center;
    height: 40px;
    border-top: 1px solid $border_gray;
    background: #ededed;
}

html {
    position: relative;
    height: 100%;
}

a {
    text-decoration: none;
    display: inline;
}

noscript #noscript {
    font-family: Arial, sans-serif;
    font-size: 111%;
    color: white;
    font-weight: bold;
    background: $announcement_red;
    text-align: center;
    padding: 5px 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
}

#announcement {
    font-family: Arial, sans-serif;
    font-size: 111%;
    color: white;
    font-weight: bold;
    background: $announcement_red;
    text-align: center;
    max-width: 30%;
    position: fixed;
    border-radius: $widget_border_radius;
    z-index: 100;
    bottom: -4px;
    right: -4px;
    padding: 5px 6px 6px 5px;

    a {
        color: $widget-bg;
    }
}

.time {
    color: #555;
}

.toggle {
    font-weight: bold;

    .fa {
        transition: transform 0.4s;
    }

    &.open .fa {
        transform: rotate(90deg);
    }
}

#form-errors, .form-errors {
    background: rgba(255, 0, 0, 0.3);
    border: 3px solid red;
    border-radius: $widget_border_radius;
    padding: 0 1em 0.1em 1em;
    margin: 0.3em 0 0.5em 0;
}

#navicon {
    display: none;
}

#nav-placeholder {
    height: 47px;
    max-width: 107em;
    background: white;
    border-right: 1px solid $border_gray;
    border-left: 1px solid $border_gray;
}

#contest-info {
    font-size: 1.25em;
    border: 5px solid $highlight_blue;
    border-left: 5px dotted white;
    border-radius: 0 $widget_border_radius $widget_border_radius 0;
    background: rgba(0, 0, 0, 0.77);
    z-index: 100000;
    padding: 10px 12px;
    color: white;
    cursor: move;
    position: fixed;
    left: 20px;
    top: 90%;
    display: none;

    a {
        height: 1.4em;
        padding: 0;
        margin: 0;
        color: white;
        display: block;
    }
}

#contest-time-remaining {
    display: inline-block;
}

.spacer {
    display: inline-block;
    flex: 1 1 1px;
}

#page-container {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    border-right: 1px solid $border_gray;
    border-left: 1px solid $border_gray;
    background: white;
}

// border-bottom: 1px solid rgb(204, 204, 204)
// border-bottom-left-radius: 4px
// border-bottom-right-radius: 4px

#content-body {
    padding-bottom: 4em;
}

// Offset the footer

.title-line-action {
    float: right;
    margin-top: 1.2em;
}

math {
    font-size: 1.155em;
}

.MathJax {
    &:focus {
        outline: none;
    }
}

@media(max-width: 1498px) {
    #page-container {
        border-left: none;
        border-right: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 760px) {
    #navicon {
        display: inline-block;
        line-height: $nav_height - 2*$nav_logo_margin;
        font-size: 2em;
        color: #FFF;
        margin: $nav_logo_margin;
        float: left;

        &.hover {
            color: $nav_link_active_color;
            transition-duration: 0.25s;
        }
    }

    nav #nav-list {
        display: none;
        padding: 0;
        margin-left: 0;
        position: fixed;
        top: $nav_height;
        background: $widget_bg;
        bottom: 0;
        width: 8em;
        left: 0;
        box-shadow: none;
        height: 100%;

        li {
            display: block;

            a {
                display: block;

                .nav-expand {
                    float: right;
                    display: block;
                    height: inherit;
                    margin: (-13px) -7px;
                    padding: inherit;
                }
            }

            ul {
                left: 8em;
                top: auto;
                bottom: auto;
                margin-top: -36px;
            }

            &.home-nav-element {
                display: none;
            }
        }
    }

    #content {
        width: auto;
        padding: 0 5px;
    }
}

@media not all and (max-width: 760px) {
    #nav-list {
        display: block !important;

        li {
            &.home-menu-item {
                display: none;
            }

            &:not(:hover) > ul {
                display: none !important;
            }

            ul {
                left: 0 !important;
            }
        }
    }
}
