@import "vars";

$table_header_rounding: 6px;

.table {
    border-spacing: 0;
    border-radius: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    background: rgba(0, 0, 0, 0.01);

    &.striped tr:nth-child(even) {
        background: #f7f7f7;
    }

    td:first-child {
        border-color: #ccc;
        border-width: 1px 1px 0 1px;
    }

    tr:last-child td {
        &:first-child {
            border: 1px solid #ccc;
        }

        border-color: #ccc;
        border-width: 1px 1px 1px 0;
    }

    thead th {
        vertical-align: middle;
    }
    thead th:nth-child(1) {
        border-left: 1px solid #ccc;
    }

    th {
        height: 2em;
        color: rgba(0, 0, 0, 0.8);
        background-color: #eee;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding: 4px 10px;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        font-weight: 600;
        font-size: 1.1em;
    }

    td {
        border-color: #ccc;
        border-width: 1px 1px 0 0;
        border-style: solid;
        padding: 7px 5px;
        vertical-align: middle;
        text-align: center;
    }
}
