$widget_bg: #604e8b;
$widget_header: #f0f0f0;

$border_gray: #7f7f7f;
$background_gray: #604e8b;
$background_light_gray: #fafafa;
$announcement_red: #ae0000;

$nav_height: 48px;
$nav_logo_margin: 6px;
$nav_gutter: 8px;
$nav_link_color: #eee;
$nav_divider_color: #ccc;
$highlight_blue: #fafafa;
$highlight_nav_item: rgba(0, 0, 0, 0.2);
$nav_link_active_color: #fff;
$nav_link_hover_color: #fff;
$nav_avatar_margin: 12px;

$base_font_size: 14px;
$widget_border_radius: 0px;
$table_header_rounding: 0px;

$monospace-fonts: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
